*{
	margin: 0;
	padding: 0;	
}

body{
	font-family: sans-serif;
}

/*-----------------------header section----------------------*/

#nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar{
	background-image: linear-gradient(to right, #a517ba, #5f1782);
	padding: 0 !important;
}

.navbar-brand img{
	height: 60px;
	padding-left: 20px;
}

.navbar-nav li{
	padding: 0 10px;

}

.navbar-nav li a{
	color: #fff !important;
	font-weight: 600;
	float: right;
	text-align: left;
}

.fa-bars{
	color: #fff;
	font-size: 30px !important;
}

.navbar-toggler{
	outline: none !important;
}




/*-----------------------sidebar section----------------------*/

#customer{
	margin-top: 50px;
	margin-bottom: 50px;	
}

.side{
	text-align: center;
}

.sidebar{
	padding: 20px;
	margin-top: 25%;
	margin-bottom: 25%;	
}

#customer .btn-primary{
	box-shadow: none; 
	padding: 8px 25px;
	border: none;
	border-radius: 20px;
	background-image: linear-gradient(to right, #a517ba, #5f1782);
	font-weight: 600;
	width: 200px;
}

#customer .btn-primary:hover{
	background-image: linear-gradient(to right, #5f1782, #a517ba);
}


/*-----------------------admin registration section----------------------*/

.notify {
	color: #fff;
	background-image: linear-gradient(to right, #5f1782, #a517ba);
	text-align: center;
	font-weight: 600;
}


#register{
	margin-bottom: 680px;
}
}

.box{
	margin-top: 70px;
	width: 400px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	text-align: center;
	border-radius: 24px;
}

.create-event p{
	color : #fff;
	background-image: linear-gradient(to right, #5f1782, #a517ba);
	border-radius: 24px;
	text-align: center;
	font-weight: 600;
}



.box input[type="text"], .box input[type="password"], .box input[type="email"], .box input[type="number"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid black;
	padding: 14px 10px;
	width: 300px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	font-weight: 600;
}

.box input[type="text"]:focus, .box input[type="password"]:focus, .box input[type="number"], .box input[type="email"]:focus{
	width: 320px;
	border-color: #9A33FF;
}

.box input[type="submit"]{
	border: 0;
	background: none;
	background-image: linear-gradient(to right, #a517ba, #5f1782);
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #fff;
	padding: 14px 40px;
	outline: none;
	color: #fff;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	font-weight: 600;
}

.box input[type="submit"]:hover{
	background-image: linear-gradient(to right, #5f1782, #a517ba);
}

.forgetpassword{
	color: #fff;
	text-decoration: none;
}

.forgetpassword:hover{
	color: red;
	text-decoration: none;
}



/*-----------------------footer section----------------------*/

#footer{
	background-image: linear-gradient(to right, #a517ba, #5f1782);
	color: #fff;

}


.footer-box{
	padding: 20px;

}

.footer-box img{
	width: 120px;
	margin-bottom: 20px;
}

.footer-box .fa{
	margin-right: 8px;
	font-size: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 7px;
	border-radius: 2px;
	background-image: linear-gradient(to right, #a517ba, #5f1782);
}

.footer-box .form-control{
	box-shadow: none !important;
	border: none;
	border-radius: 0;
	margin-top: 25px;
	max-width: 250px;
}

.footer-box .btn-primary{
	box-shadow: none !important;
	border: none;
	border-radius: 0;
	margin-top: 30px;
	background-image: linear-gradient(to right, #a517ba, #5f1782);
}

.footer-box .btn-primary:hover{
	background-image: linear-gradient(to right, #5f1782,  #a517ba);
}

.footer-box .btn-primary:hover{
	background-image: linear-gradient(to right, #5f1782,  #a517ba);
}

hr{
	background-color: #fff;
}

.copyright{
	margin-bottom: 0;
	padding-bottom: 20px;
	text-align: center;
}

